{% extends 'chess_bases/base.html' %}

{% block page_header %} 
<h2>{{ topic }}</h2>
{% endblock page_header %} 

{% block content %}
<p>
    <a href="{% url 'chess_bases:new_entry' topic.id %}">Add new entry</a>
</p>
<ul>
    {% for entry in entries %}
    <div class="card mb-3">
        <h3 class="card-header">
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small><a href="{% url 'chess_bases:edit_entry' entry.id %}"></a></small>
        </h3>
        <div class="card-body">
            {{ entry.text|linebreaks }}
        </div>
    </div>
    {% empty %}
    
    <p>There are no entries for this topic yet...</p>
    {% endfor %}
</ul>

{% endblock content %}